.error-page {
  text-align: center;
  padding: 100px 20px;
  color: #ff6060;
}

.error-code {
  font-size: 200px;
  font-weight: 700;
  margin: 0;
}

.error-text {
  font-size: 24px;
  margin: 20px 0 50px;
}

.error-link {
  color: #ff6060;
  font-size: 18px;
  text-decoration: underline;
}
