.collapse {
  width: 100%;
  margin-bottom: 20px;
}

.collapse-header {
  background-color: #ff6060;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.collapse-header h3 {
  margin: 0;
}
.collapse-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.collapse-arrow.open {
  transform: rotate(180deg);
}


.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
}
