.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header,
.layout-main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

.layout-header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-logo {
  height: 68px;
}

.layout-nav {
  display: flex;
  gap: 57px;
  font-size: 24px;
  color:  #000000;
}

.layout-link {
  text-decoration: none;
  color:  #000000;
}


/* Liens du header – état normal */
.layout-nav a {
  color: #000;                
  text-decoration: none;
  text-transform: lowcase;
  font-weight: 500;
}
.layout-nav a[aria-current="page"] {
  text-decoration: underline;
}

.layout-nav a:visited {
  color: #000;
}


.layout-nav a:active {
  color: #000;
}

/* Lien survol */
.layout-nav a:hover {
  color: #000;
}

.layout-nav a.active {
  text-decoration: underline;
}


/* MAIN */

.layout-main {
  flex: 1;
  padding-top: 40px;
}

/* FOOTER */

/* ----- FOOTER GLOBAL ----- */
.layout-footer {
  width: 100%;                 /* prend toute la largeur de la fenêtre */
  background: #000000;         /* bande noire */
  color: #fff;
  padding: 40px 20px;          /* espace intérieur */
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;         /* centre horizontalement */
  justify-content: center;     /* centre verticalement */
  gap: 15px;                   /* espace entre le logo et le texte */
}

/* Logo du footer */
.layout-footer-logo {
  height: 40px;
  display: block;
}

/* Texte du footer */
.layout-footer-text {
    color: #fff;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}

/* ----- RESPONSIVE : écran mobile ----- */
@media (max-width: 768px) {
  
  .layout-header,
  .layout-main {
    max-width: 100%;
    margin: 0;
    
  }
  /* En-tête : juste un padding horizontal */
  .layout-header {
    padding: 20px 20px 0;
  }

  /* Contenu : on remet un espace au-dessus pour décoller la bannière du logo */
  .layout-main {
    padding: 20px 20px 0; /* 20px en haut, 20px sur les côtés, 0 en bas */
  }

  /* Logo légèrement réduit sur mobile */
  .layout-logo {
    height: 47px;
  }

  /* Navigation plus petite et plus rapprochée */
  .layout-nav {
    gap: 14px;
  }

  /* On réduit la taille du texte du menu */
  .layout-nav a {
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap; /* évite le retour à la ligne */
  }
}

