.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header,
.layout-main {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

.layout-header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-logo {
  height: 68px;
}

.layout-nav {
  display: flex;
  gap: 57px;
  font-size: 24px;
}

.layout-link {
  text-decoration: none;
  color:  #000000;
}

.layout-link--active {
  text-decoration: underline; 
}

/* MAIN */

.layout-main {
  flex: 1;
  padding-top: 40px;
}

/* FOOTER */

.layout-footer {
  margin-top: 50px;
  background: #000000;
  color: #ffffff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.layout-footer-logo {
  height: 40px;
}

.layout-footer-text {
  font-size: 24px;
}
